
body {
    margin: 0;
    background-image: repeating-linear-gradient(1deg, pink, white 15%, blue 16%);
}

.container {
    font-family: "Zeyada", sans-serif;
    font-weight: bolder;
    height: 100vh;
    border-left: 3px solid red;
    margin-left: 55px;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 55px;
}

#feather-img {
    
}

li {
    font-size: 25px;
    margin-bottom: 10px;
    list-style:none;
}

li button {
    min-height: 35px;
    min-width: 55px;;
    font-size: 11px;
    margin-left: 20px;
    color: #333333;
    background-image: radial-gradient(pink, rgb(255, 0, 255));
    border-radius: 5px;
    border-style: none;
    transform: skew(-15deg, -5deg);
    box-shadow: 1px 13px 2px rgb(107, 1, 54);
}
