
body {
    margin: 0;
    background-image: repeating-linear-gradient(1deg, pink, white 15%, blue 16%);
}

.container {
    font-family: "Zeyada", sans-serif;
    font-weight: bolder;
    height: 100vh;
    border-left: 3px solid red;
    margin-left: 55px;
}

h1 {
    font-size: 55px;
}

li {
    font-size: 25px;
    margin-bottom: 10px;
}

li button {
    font-size: 8px;
    margin-left: 20px;
    color: #666;
}
